.env
# Node modules (backend & frontend)
node_modules/
client/node_modules/
server/node_modules/

# Build output
build/
dist/

# Runtime data
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*  # For env.development, env.production, etc.

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Coverage reports
coverage/

# Docker-related
docker-compose.override.yml

# Uploaded files (optional)
uploads/
temp/
public/uploads/

# Optional: MongoDB dump
dump/

# React build folder (in case of custom build)
client/build/

# Optional: Logs and pids
*.pid
*.seed
*.bak

# Optional: Logs folder
logs/

#prettier ignore
.prettierignore
.prettier.config.js
prettier.config.js
prettier.config.cjs